@charset "UTF-8";
p {
  font-family: Baskerville,...
}
h1, h2, h3 {color: darkolivegreen;}

}
h3 {
  font-size: 40px;
}
body {background-image: url(slike/pozadina2.jpg);}
h2 {
 height: 400px;
}
img {
  height: 400px;
}
